<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/img/mainfavicon.ico" />

    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-checkbox-radio-switch.js"></script>
    @*<script src="~/Content/js/chartist.min.js"></script>*@
    <script src="~/Content/js/bootstrap-notify.js"></script>
    <script src="~/Content/js/light-bootstrap-dashboard.js"></script>
    <script src="~/Content/js/demo.js"></script>
    <script src="~/Content/js/toastr.min.js"></script>
    <script src="~/Content/js/juicer.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/Content/img/sidebar-2.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Creative Tim
                    </a>
                </div>
                <ul class="nav">
                    <li id="leftbtn-Dashboard">
                        <a href="@Url.Action("Index","Main")">
                            <i class="pe-7s-graph"></i>
                            <p> 主页 </p>
                        </a>
                    </li>
                    <li id="leftbtn-User">
                        <a href="@Url.Action("Index","User")">
                            <i class="pe-7s-user"></i>
                            <p> 个人Bio </p>
                        </a>
                    </li>
                    <li id="leftbtn-TableList">
                        <a href="@Url.Action("Index","TableList")">
                            <i class="pe-7s-note2"></i>
                            <p> 图表 </p>
                        </a>
                    </li>
                    <li id="leftbtn-Typography">
                        <a href="@Url.Action("Index","Typography")">
                            <i class="pe-7s-news-paper"></i>
                            <p> 样式 </p>
                        </a>
                    </li>
                    <li id="leftbtn-Icons">
                        <a href="@Url.Action("Index", "Icons")">
                            <i class="pe-7s-science"></i>
                            <p> 图标 </p>
                        </a>
                    </li>
                    <li id="leftbtn-Maps">
                        <a href="@Url.Action("Index","Maps")">
                            <i class="pe-7s-map-marker"></i>
                            <p> 地图 </p>
                        </a>
                    </li>
                    <li id="leftbtn-Notifications">
                        <a href="@Url.Action("Index","Notifications")">
                            <i class="pe-7s-bell"></i>
                            <p>通告</p>
                        </a>
                    </li>
                    <li id="leftbtn-BackgroundManagers">
                        <a href="@Url.Action("Index","Managerment")">
                            <i class="pe-7s-cloud"></i>
                            <p>设置</p>
                        </a>
                    </li>
                    <li id="leftbtn-Upgrade" class="active-pro">
                        <a href="upgrade.html">
                            <i class="pe-7s-rocket"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- 头模板 -->
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" id="navbar-brand"></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Index","User")">
                                    Account
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Sign In
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()

            <!-- 尾模板 -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
    
    <script type="text/javascript">
    	$(document).ready(function(){
        	var pathname = window.location.pathname;

        	if (pathname.indexOf("/Main") >= 0) {
        	    $('li[id*="leftbtn-"]').eq(0).addClass('active');

        	    $.notify({
        	        icon: 'pe-7s-gift',
        	        message: "欢迎光临 <b>Dipa666</b> 的小站   ."
        	    }, {
        	        type: 'info',
        	        timer: 4000
        	    });
        	    $("#navbar-brand").html("主页");
        	}

        	else if (pathname.indexOf("/User") >= 0) {
        	    $('li[id*="leftbtn-"]').eq(1).addClass('active');
        	    $("#navbar-brand").html("个人BIO");
        	}
    	    else if (pathname.indexOf("/TableList") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(2).addClass('active');
    	        $("#navbar-brand").html("图表");
        	}
    	    else if (pathname.indexOf("/Typography") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(3).addClass('active');
    	        $("#navbar-brand").html("样式");
        	}
    	    else if (pathname.indexOf("/Icons") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(4).addClass('active');
    	        $("#navbar-brand").html("图标");
        	}
    	    else if (pathname.indexOf("/Maps") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(5).addClass('active');
    	        $("#navbar-brand").html("地图");
    	    }
    	    else if (pathname.indexOf("/Notifications") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(6).addClass('active');
    	        $("#navbar-brand").html("通告");
    	    }
    	    else if (pathname.indexOf("/Mangerment") >= 0) {
    	        $('li[id*="leftbtn-"]').eq(7).addClass('active');
    	        $("#navbar-brand").html("设置");
    	    }
    	    else {
    	        $('li[id*="leftbtn-"]').eq(8).addClass('active');
    	        $("#navbar-brand").html("通告");
        	}
    	});
    </script>
</body>
</html>


