@using WebMVC.Models
@model List<BlogsInfo>

    <div style="display:block">
        <a href="/Blogs/AddBlogsIndex"><img src="~/Content/img/Blogs/ico_mng-add.png"></a>
    </div>
    @foreach (BlogsInfo item in Model)
    {
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">@item.BlogHeading</a></h2>
                    <p>@item.BlogSubHeading</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">@item.CDate</time>
                    <a href="#" class="author"><span class="name">@item.BlogAuthorName</span><img src="~/Content/img/Blogs/avatar.jpg" alt="" /></a>
                </div>
            </header>
            <a href="#" class="image featured"><img src="@item.BlogsSurfacePlot" alt="" style="width:990px;height:404px" /></a>
            <p>@item.BlogAbstarct</p>
            <footer>
                <ul class="actions">
                    <li><a href="/Blogs/ViewBlogs/@item.Id" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="/Blogs/UpdateBlogs/@item.Id">Edit</a></li>
                    <li><a data-id ="@item.Id" href="javascript:void(0)" onclick="Deleteblogs(this)">Delete</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    }

    <!--Pagination-->
    <ul class="actions">
        <li><a href="@Url.Action("Index","Blogs",new { Page = ViewBag.PrevPage , PageSize = ViewBag.PageSize })" class="button big previous">Previous Page</a></li>
        <li><a href="@Url.Action("Index","Blogs",new { Page = ViewBag.NextPage, PageSize = ViewBag.PageSize })" class="button big">Next Page</a></li>
    </ul>


    <script>
        function Deleteblogs(obj){
            var id = $(obj).attr("data-id");

            $.post("/Blogs/DeleteBlogs", { "Id": id }, function (data) {
                if (data.Success) {
                    toastr.success(data.SuccessModel);

                    $.post("/Blogs/_PartialIndex", { "Page": @ViewBag.PageIndex,"PageSize": @ViewBag.PageSize}, function (data) {
                        $("#main").html(data);
                    }, "text");
                }
            },"Json");
        }
    </script>


