@using WebMVC.Models
@model List<BlogsInfo>

    <div style="display:block">
        <a href="/Blogs/AddBlogsIndex"><img src="~/Content/img/Blogs/ico_mng-add.png"></a>
    </div>
    @foreach (BlogsInfo item in Model)
    {
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">@item.BlogHeading</a></h2>
                    <p>@item.BlogSubHeading</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">@item.CDate</time>
                    <a href="#" class="author"><span class="name">@item.BlogAuthor</span><img src="~/Content/img/Blogs/avatar.jpg" alt="" /></a>
                </div>
            </header>
            <a href="#" class="image featured"><img src="@item.BlogsSurfacePlot" alt="" /></a>
            <p>@item.BlogAbstarct</p>
            <footer>
                <ul class="actions">
                    <li><a href="/Blogs/ViewBlogs/@item.Id" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="/Blogs/UpdateBlogs/@item.Id">Edit</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>
    }

    <!--Pagination-->
    <ul class="actions">
        <li><a href="@Url.Action("Index","Blogs",new { Page = ViewBag.PrevPage , PageSize = ViewBag.PageSize })" class="button big previous">Previous Page</a></li>
        <li><a href="@Url.Action("Index","Blogs",new { Page = ViewBag.NextPage, PageSize = ViewBag.PageSize })" class="button big">Next Page</a></li>
    </ul>




